*{
    box-sizing: border-box;
}
.menu {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos de manera uniforme a lo largo del contenedor */
  align-items: center;
  background-color: greenyellow;
  padding: 5px;
}


.menu-lista {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-lista li {
  margin-right: 20px;
}

.menu-lista li:last-child {
  margin-right: 0; 
}

.menu-lista a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.gear2{
  max-width: 100%;
  padding: 5px;
  
}
.gear2img{
  float: left;
  width: 20%;
}

audio{
  display: block;
  clear: both;
}
.gear3{
  max-width: 100%;
  padding: 5px;
}
.gear3img{
  float: left;
  width: 20%;
}

.gear4bouncemanimg{
  float: left;
  width: 20%;
}
.gear4tankman{
  display: none;
}
.gear4tankmanimg{
  float: left;
  width: 20%;
}
.gear4snakeman{
  display: none;
}
.gear4snakemanimg{
  float: left;
  width: 20%;
}
.gear5img{
  float: left;
  width: 20%;
}
.logo{
  width: 8%;
}
.error{
  color: red;
}
.rssimg{
  width:12%;
}
@media (max-width: 768px) {
  @media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .menu-lista {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu-lista li {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .menu-lista.active {
        display: flex;
    }
  }

  .gear2img, .gear3img, .gear4bouncemanimg, .gear4tankmanimg, .gear4snakemanimg, .gear5img {
      margin-bottom: 10px;
      max-width: 100%;
      height: auto;
  }
}

@media (max-width: 480px) {
  header {
      font-size: 16px;
  }

  nav {
    padding: 5px;
}

nav .menu {
    flex-direction: column;
    align-items: flex-start;
}

nav .menu-lista {
    flex-direction: column;
    width: 100%;
}

nav .menu-lista li {
    margin-bottom: 10px;
    margin-right: 0;
}

  nav .menu-lista li a {
      font-size: 14px;
  }

  .gear2img, .gear3img, .gear4bouncemanimg, .gear4tankmanimg, .gear4snakemanimg, .gear5img {
      max-width: 100%;
      height: auto;
  }

  .gear2, .gear3, .gear4bounceman, .gear4tankman, .gear4snakeman, .gear5 {
      font-size: 14px;
  }
}